.peiValue{
  font-family: "DM Sans";
  font-size: 30px !important;
  font-style: normal;
  font-weight: 500 !important;
  letter-spacing: 0px;
  text-align: center;
  color: #3D41D7 !important;
}
.paichartText{
  font-family: "DM Sans";
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400 !important;
  letter-spacing: 0px;
  text-align: center;
  color: #8F92A1;
}
.MuiCircularProgress-colorPrimary{
  color: #FF8831 !important ;
}